@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
